{% extends "layout.html" %}
{% load static %}
{% block body %}


<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<body>
    <body id="bg" style="background-image: url('{% static "images/diu1.jpg"%}')";>
    <h2><marquee  bgcolor="pink"><h1>Welcome to DIU Student Management System</h1></marquee></h2>
    <p></p>
</body></html>

<style> 
    .card {
      background-color: #e8e8e8;
    }
</style>

<div class="container mt-5">
    <h3 class="text-center">Introduction</h3>
    <p class="text-center"> This is Our Student Management System.</p>
    <img src="{% static 'images/diu1.jpg' %}" class="img-fluid" alt="My_photo">
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Admission
        </div>
        <div class="card-body">
          <h5 class="card-title">Admission Contact</h5>
          <strong>Phone: 999 333 555 </strong>
          <p class="card-text">Admission Office</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Admission Notice</h5>
          <strong>Last Date of Application</strong>
          <p class="card-text">18 December 2022</p>
        </div>

      </div>
</div>
<br><br>
<div class="container">
  <div class="row mb-5">
      <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Get in Touch</h2>
              <div class="">
                  <ul class="list-unstyled">
                      <!--<li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Sitemap</a></li>-->
                      <li><a href="https://daffodilvarsity.edu.bd/article/campus-contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Campus Contact</a></li><a href="https://daffodilvarsity.edu.bd/article/campus-contact">
                      </a><li><a href="https://daffodilvarsity.edu.bd/article/campus-contact"></a><a href="https://pd.daffodilvarsity.edu.bd/contact-us" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Meet With Us</a></li>
                      <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Privacy Statement</a></li>
                      <li><a href="https://daffodilvarsity.edu.bd/article/copyright-issue"><span class="ion-ios-arrow-round-forward mr-2"></span>Report Copyright Infringement</a></li>
                      <li><a href="https://daffodilvarsity.edu.bd/article/security-issues"><span class="ion-ios-arrow-round-forward mr-2"></span>Report on Security Issues</a></li>
                      <li><a href="https://daffodilvarsity.edu.bd/photos/pdf/Report-on-traffic-mgt.pdf" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Recom. For Traffic Mgt</a></li>
                      <li><a href="https://newsletter.daffodilvarsity.edu.bd/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Newsletters</a></li>
                      <li><a href="https://daffodilvarsity.edu.bd/location"><span class="ion-ios-arrow-round-forward mr-2"></span>Location Map</a></li>
                      <li><a href="https://daffodilvarsity.edu.bd/article/corona"><span class="ion-ios-arrow-round-forward mr-2"></span>Covid-19 updates</a></li>
                      <li><a href="https://daffodil.family/about/family-logo" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Logos (Daffodil Family) </a></li>
                      <!--<li><a class="nav-link text-white" data-toggle="modal" data-target="#queryModal">Feedback</a></li>-->
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Branding</h2>
              <ul class="list-unstyled">
                  <li><a href="http://bd.daffodil.family/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>DIU Branding</a></li>
                  <li><a href="http://career.daffodilvarsity.edu.bd/?app=home" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Career Opportunities</a></li>
                  <li><a href="http://blog.daffodilvarsity.edu.bd/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Blog</a></li><a href="http://campuslife.daffodil.university/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Photo Gallery</a>
                  <li><a href="http://news.daffodilvarsity.edu.bd/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>DIU News</a></li>
                  <li><a href="http://diupress.com/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>DIU Press</a></li>
                  <li><a href="http://employability.daffodilvarsity.edu.bd/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Employability 360</a></li>
                  <li><a href="https://it.daffodilvarsity.edu.bd/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>DIU IT</a></li>
                  <li><a href="https://etender.daffodilvarsity.edu.bd/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>eTender</a></li>
                  <li><a href="http://artofliving.social/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Artofliving</a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Useful Links</h2>
              <ul class="list-unstyled">
                  <li><a href="https://skill.jobs/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>skill.jobs</a></li>
                  <li><a href="http://internship.daffodilvarsity.edu.bd/?app=home" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Internship Portal</a></li>
                  <li><a href="https://fd.daffodilvarsity.edu.bd/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Foundation Day</a></li>
                  <li><a href="https://convocation.daffodilvarsity.edu.bd/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Convocation</a></li>
                  <!--<li><a href="https://daffodilvarsity.edu.bd/images/download/DIU.wma" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>DIU Theme Song</a></li>-->
                  <li><a href="https://daffodilvarsity.edu.bd/article/brochure"><span class="ion-ios-arrow-round-forward mr-2"></span>Brochure</a></li>
                  <li><a href="https://daffodilvarsity.edu.bd/prospectus"><span class="ion-ios-arrow-round-forward mr-2"></span>Prospectus</a></li>
                  <li><a href="https://daffodilvarsity.edu.bd/article/forms"><span class="ion-ios-arrow-round-forward mr-2"></span>Forms</a></li>
                  <li><a href="https://daffodilvarsity.edu.bd/article/downloads"><span class="ion-ios-arrow-round-forward mr-2"></span>Brand Documents</a></li>
                  <li><a href="https://daffodilvarsity.edu.bd/article/apps"><span class="ion-ios-arrow-round-forward mr-2"></span>Apps</a></li>
                  <li><a href="https://daffodilvarsity.edu.bd/faq"><span class="ion-ios-arrow-round-forward mr-2"></span>FAQ</a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Subscribe Us!</h2>
              <form action="https://daffodilvarsity.edu.bd/save/subscriber" method="post" class="subscribe-form">
                  <input type="hidden" name="_token" value="iwzwwud7OSOBmSl1ePsGkJglNcJaW9y8YAMmI3Mc">                        <div class="form-group">
                      <input type="email" name="email" class="form-control mb-2 text-center" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="form-control submit px-3">
                  </div>
              </form>
          </div>
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                  <li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.facebook.com/daffodilvarsity.edu.bd" target="_blank"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate fadeInUp ftco-animated"><a href="https://twitter.com/daffodilvarsity" target="_blank"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.instagram.com/daffodil.university/" target="_blank"><span class="icon-instagram"></span></a></li>
                  <li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.youtube.com/user/webmasterdiu" target="_blank"><span class="icon-youtube"></span></a></li>
                  <li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.linkedin.com/company/daffodil-international-university/" target="_blank"><span class="icon-linkedin"></span></a></li>
                  <li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.pinterest.com/daffodilvarsity/" target="_blank"><span class="icon-pinterest"></span></a></li>
                  <li class="ftco-animate fadeInUp ftco-animated"><a href="https://daffodilvarsity.edu.bd/article/whatsapp"><span class="icon-whatsapp"></span></a></li>
                  <li class="ftco-animate fadeInUp ftco-animated"><a href="https://gmail.com/" target="_blank"><span class="icon-envelope"></span></a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="row border-top">
      <div class="col-md-12 text-center">
             <div class="text-white pt-3"> Copyright © 2022 Daffodil International University. All Rights Reserved.</div>

      </div>
  </div>
</div>

{% endblock %}

